h1{
text-align: center;
}

body{
    background: #888;
}

.row{
  margin: 50px;
  border: 1pt solid #000;
  height: 50px;
  background:white;
}

#left, #right{
  position:relative;
  bottom: 0px;
  border:1pt solid #000;
  height:20px;
  width: 200px;
  float: left;
  margin-left:100px;
  
}



/*word div box */
  
  /*border: solid;*/
  /*padding: white;*/
  /*border-width: 5px;*/
  /*margin: 0 auto; */
  /*width: 300px;*/
  /*text-align: center;*/
  /*font-family: Palatino Linotype;*/
  /*padding: 10px;*/



